*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Norse Bold";
  src: url("assets/Norse-Bold.otf");
  font-weight: bold;
}
body {
  width: 100%;
  min-height: 100vh;
}
.container {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  min-height: 100vh;
}
.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/forest-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 0rem;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 0.5rem;
  height: min-content;
}
.image-container {
  width: 60px;
  height: 80px;
}
.image-container > img {
  height: 100%;
  width: 100%;
}
.logo-heading {
  font-family: "Norse Bold", sans-serif;
  font-size: 3.8rem;
  color: White;
}
.content-section {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.informational-section {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  gap: 2rem;
}

.informational-text {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.form-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  box-shadow: 1px 1px 5px rgb(190, 189, 189);
  gap: 2.5rem;
}

.form-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

.input-field {
  display: flex;
  flex-flow: column nowrap;
}
.input-label {
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(49, 49, 49);
}
input {
  font-size: 0.9rem;
  padding: 0.3rem;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #e5e7eb;
}
button,
span {
  cursor: pointer;
}
.create-button {
  font-size: 1.1rem;
  padding: 0.7rem 2.7rem;
  font-weight: 600;
  text-align: center;
  color: white;
  outline: none;
  border-radius: 6px;
  border: none;
  font-family: "Poppins", sans-serif;
  background-color: #596d48;
  max-width: 270px;
}
button[disabled] {
  opacity: 0.7;
}
.bottom-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
  align-items: center;
}
.create-account-text {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
.log-in {
  color: #596d48;
  font-weight: 600;
}
.errorText {
  font-size: 0.7rem;
  color: red;
  font-family: "Poppins", sans-serif;
  opacity: 0;
}

.invalid,
.invalid:focus {
  outline: none !important;
  border: 2px solid rgb(255, 58, 8);
}
.valid,
.valid:focus {
  outline: none !important;
  border: 2px solid rgb(124, 207, 0);
}
@media only screen and (min-width: 768px) {
  .container {
    flex-flow: row nowrap;
  }
  .content-section {
    justify-content: center;
  }
  .image-section {
    min-width: 40vw;
  }
  .image-container {
    width: 80px;
    height: 100px;
  }
  .form-content {
    flex-flow: row wrap;
  }
  .logo-container {
    margin-bottom: 15rem;
  }
  .logo-heading {
    font-size: 5rem;
  }
  .bottom-section {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1024px) {
  .image-container {
    width: 100px;
    height: 120px;
  }
  .input-field {
    width: 45%;
  }
}
