*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --invalid: rgb(255, 58, 8);
  --valid: rgb(124, 207, 0);
  --dark-text: rgb(49, 49, 49);
  --primary: #596d48;
  --primary-text: #000000;
  --secondary-text: #ffffff;
  --primary-border: #e5e7eb;
  --neutral-light: rgb(194, 193, 193);
  --neutral-dark: rgb(145, 145, 145);
}
@font-face {
  font-family: "Norse Bold";
  src: url("assets/Norse-Bold.otf");
  font-weight: bold;
}
body {
  width: 100%;
  min-height: 100vh;
}
.container {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  min-height: 100vh;
}
.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/forest-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 0rem;
  position: relative;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 0.5rem;
  height: min-content;
}
.image-container {
  width: 60px;
  height: 80px;
}
.image-container > img {
  height: 100%;
  width: 100%;
}
.logo-heading {
  font-family: "Norse Bold", sans-serif;
  font-size: 3.8rem;
  color: var(--secondary-text);
}
.content-section {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background-color: var(--secondary-text);
}

.informational-section {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  gap: 2rem;
}

.informational-text {
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 600;
  color: var(--primary-text);
}

.form-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 0.8rem 2rem;
  box-shadow: 1px 3px 10px var(--neutral-light);
  gap: 2.5rem;
}

.form-content {
  display: flex;
  flex-flow: column nowrap;
}

.input-field {
  display: flex;
  flex-flow: column nowrap;
}
.input-label {
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  color: var(--dark-text);
}
input {
  font-size: 0.9rem;
  padding: 0.3rem;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  border: 1px solid var(--primary);
}
a {
  color: var(--secondary-text);
  text-decoration: underline;
}
.credits {
  display: none;
  color: var(--secondary-text);
}
button,
span {
  cursor: pointer;
}
.create-button {
  font-size: 1rem;
  padding: 0.9rem 3rem;
  font-weight: 600;
  text-align: center;
  color: var(--secondary-text);
  outline: none;
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 10px var(--neutral-dark);
  font-family: sans-serif;
  background-color: var(--primary);
  max-width: 270px;
}
button[disabled] {
  opacity: 0.7;
}
.bottom-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
  align-items: center;
}
.create-account-text {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
.log-in {
  color: var(--primary);
  font-weight: 600;
}
.errorText {
  font-size: 0.7rem;
  color: var(--invalid);
  font-family: "Poppins", sans-serif;
  opacity: 0;
}

.invalid,
.invalid:focus {
  outline: none !important;
  border: 2px solid var(--invalid);
}
.valid,
.valid:focus {
  outline: none !important;
  border: 2px solid var(--valid);
}
@media only screen and (min-width: 768px) {
  .container {
    flex-flow: row nowrap;
  }
  .content-section {
    justify-content: center;
  }
  .image-section {
    justify-content: center;
    min-width: 40vw;
    flex-flow: column nowrap;
  }
  .image-container {
    width: 80px;
    height: 100px;
  }
  .form-content {
    flex-flow: row wrap;
  }
  .logo-container {
    top: 25%;
    position: absolute;
  }
  .logo-heading {
    font-size: 5rem;
  }
  .bottom-section {
    align-items: flex-start;
  }
  .credits {
    display: block;
    margin-top: auto;
  }
  .informational-text {
    font-size: 1.3rem;
  }
  .input-field {
    margin: 0.3rem 2rem;
  }
  h2.form-header {
    margin-left: 2rem;
  }
  .form-container {
    padding: 0.8rem 0rem;
  }
}
@media only screen and (min-width: 1024px) {
  .image-container {
    width: 100px;
    height: 120px;
  }
  .input-field {
    width: 34%;
  }
}
