*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
}
.logo-section {
}
.content-section {
}
